html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('https://images4.alphacoders.com/326/thumb-1920-32616.jpg');
  background-size: cover;
  color: #d9d2d2;
}

h1 {
    text-align: center;
  }
  
  .display {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }
  
  .column {
    width: 18%;
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-right: black solid 1px;
  }

  .column div {
    height: 100px;
    text-align: center;
  }
  
  .images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
  }
  
  .songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
  }
  
  .artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
  }
  
  .lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
  }
  
  .links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    color: silver;
  }
  
  .form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
  }
  
  input {
    padding: 5px 10px;
    font-size: 14px;
  }
  
  button {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 15%;
    color: darkblue;
  }